/* Contato */
#contato {
    width: 100%;
    display: flex;
    background-color: #1a1a1a;
}

#contato .content {
    max-width: 1500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 70px;
}

#contato .content h1 {
    color: #ffffff;
}