@import "./../sass/home";
@import "./../sass/sobre";
@import "./../sass/skills";
@import "./../sass/portifolio";

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f0f0f5;
}