@font-face {
  font-family: 'Playlist Script';
  src: url("../fonts/Playlist Script.otf");
  font-size: 1em;
}

* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

body {
  background: #101010;
}

.bg-topo {
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 10;
}

.bg-topo .page-home {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-topo .page-home .logotipo {
  width: 50px;
  margin-top: 12px;
}

.bg-topo .page-home .menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 29px 0;
}

.bg-topo .page-home .menu li {
  display: inline-block;
  text-align: center;
}

.bg-topo .page-home .menu a {
  color: #fff;
  text-decoration: none;
  margin: 32px 25px;
  margin-top: 0;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.bg-topo .page-home .menu a:hover {
  border-bottom: 2px solid #fff;
}

.bg-topo .page-home .redes-sociais {
  list-style: none;
  padding: 12px 0;
  float: right;
}

.bg-topo .page-home .redes-sociais li {
  display: inline-block;
}

.bg-topo .page-home .redes-sociais img {
  width: 25px;
  margin: 15px 10px;
}

.home-content {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-content h1 {
  font-family: 'Playlist Script';
  font-size: 250px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #ccc;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  font-weight: 500;
}

.home-content h2 {
  font-family: 'Roboto';
  font-size: 50px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #ccc;
}

#about {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .content-about {
  max-width: 1100px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .content-about .photo {
  width: 250px;
  border-radius: 50%;
}

#about .content-about .photo img {
  width: 250px;
  border-radius: 50%;
}

#about .content-about .text-about {
  width: 600px;
}

#about .content-about .text-about p, #about .content-about .text-about h1 {
  color: #ccc;
}

#about .content-about .text-about h1 {
  font-size: 50px;
  font-weight: 500;
}

#about .content-about .text-about p {
  font-size: 19px;
  line-height: 28px;
}

.portfolio {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .carrousel {
  width: 1100px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .carrousel .img-mobile {
  display: none;
}

.portfolio .carrousel img {
  width: 800px;
  height: auto;
  -webkit-box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.1);
          box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.portfolio .carrousel img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  filter: opacity(0.7);
  -webkit-filter: opacity(0.7);
}

@media (max-width: 900px) {
  .bg-topo {
    width: 100%;
    height: 75px;
  }
  .bg-topo .page-home .logotipo {
    margin: 11px 20px;
  }
}

@media (max-width: 800px) {
  .home-content h1 {
    font-size: 160px;
  }
  #about {
    height: 100%;
    padding: 20px;
  }
  #about .content-about {
    padding-top: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #about .content-about .text-about {
    width: 100%;
  }
  #about .content-about .text-about h1 {
    padding: 40px 0 0 0;
  }
  #about .content-about .text-about p {
    padding: 10px 0 0 0;
  }
  .portfolio .carrousel .img-desktop {
    display: none;
  }
  .portfolio .carrousel .img-mobile {
    display: inline;
    width: 350px;
  }
  .portfolio .carrousel img {
    width: 100%;
    padding: 5px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 700px) {
  .home-content h1 {
    font-size: 140px;
  }
}

@media (max-width: 600px) {
  .home-content h1 {
    font-size: 120px;
  }
}

@media (max-width: 500px) {
  .home-content h1 {
    font-size: 100px;
  }
}

@media (max-width: 400px) {
  .home-content h1 {
    font-size: 70px;
  }
}
/*# sourceMappingURL=main.css.map */