@media (max-width: 900px) {

}

@media (min-width: 1700px) {

}

@media (max-width: 760px) {

    #page-home {
        width: 100%;
    }
    #page-home .content{
        width: 100%;
    }

    #page-home .content main img {
        display: none;
    }

    #sobre-mim .content main {
        text-align: center;
    }

    #sobre-mim .content main h1 {
        padding-top: 40px;
    }

    #portfolio {
        padding: 10px;
    }

    #portfolio .content {
        padding: 0px;
    }

    #portfolio .content main .row .col-md-6 {
        padding: 40px 0;
    }
    
}