/* Portfolio */
#portfolio {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #f1f1f1;
    padding: 80px;
    overflow: hidden;
}

#portfolio .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#portfolio .content .title-portifolio {
    padding-bottom: 50px;
}


#portfolio .content .row {
    margin: 0px;
}

#portfolio .content .row .col-md-6 {
    padding: 40px 0;
}

#portfolio .content .row .lesign {
    padding: 70px;
}

#portfolio .content .row .a5 {
    background-color: #e1e1e1;
    padding: 60px;
}

#portfolio .content img {
    width: 500px;
}

#portfolio .content p {
    color: #1a1a1a;
    max-width: 600px;
    font-size: 20px;
    text-align: center;
}

