/* Sobre Mim */
#sobre-mim {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #e1e1e1;
    padding: 70px;
}

#sobre-mim .content {
    max-width: 1500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#sobre-mim .content img {
    width: 280px;
    border-radius: 50%;
}

#sobre-mim .content .row .foto {
    display: flex;
    flex-direction: column;
}