@font-face {
  font-family: 'Playlist Script';
  src: url("../fonts/Playlist Script.otf");
  font-size: 1em;
}

@font-face {
  font-family: 'Intro Demo';
  src: url("../fonts/IntroDemo-BlackCAPS.otf");
  font-size: 1em;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Intro Demo', sans-serif;
  letter-spacing: 1px;
}

body {
  background: #101010;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

.bg-top {
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 10;
  background: #101010;

  .page-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo {
      font-family: 'Playlist Script';
      color: #fff;
      transform: rotate(-8deg);
      font-weight: 500;
    }
      
    .menu {
      align-items: center;
      padding: 29px 0;

      .nav_toggle {
        display: none;
        color: #fff;
        font-size: 35px;
        cursor: pointer;
      }

      li { 
        display: inline-block;
        text-align: center;
      }

      a { 
        color: #fff;
        text-decoration: none;
        margin: 32px 25px;
        margin-top: 0;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 7px;
        
        &:hover {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}

[data-animate] {
  opacity: 0;
  transition: .7s;
}

[data-animate="appear"] {
  transform: translate3d(0, 0, -100px);
}

[data-animate="left"] {
  transform: translate3d(-100px, 0, 0);
}

[data-animate].anime {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.copy {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 20px 0;

  img {
    width: 40px;
    user-select: none;
  }
}