.bg-topo {
  width: 100%;
  height: 100vh;
  background-color: #101010;
  overflow: hidden;
}

.page-home {
  width: 100%;
  height: 75px;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  background: #101010;
  position: fixed;
  z-index: 1;
  .logotipo {
    width: 50px;
    margin-top: 11px;
  }

  .menu {
    text-align: center;
    align-items: center;
    list-style: none;
    padding: 25px 0;
    li { 
      display: inline-block;
      text-align: center;
    }
    a { 
      color: #f1f1f1;
      text-decoration: none;
      margin: 32px 25px;
      margin-top: 0;
      font-size: 12px;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        transition: 0.5s;
        color: #ccc;
      }
    }
  }

  .redes-sociais {
    list-style: none;
    padding: 12px 0;
    float: right;
    li {
      display: inline-block;
    }
    img {
      width: 25px;
      margin: 15px 10px;
    }
  }
}

.home-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  p {
    display: inline;
    font-size: 60px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #ccc;
  }
  img {
    width: 250px;
  }
}