@media (max-width: 1390px) {
}

@media (min-width: 1700px) {

}

@media (max-width: 760px) {

    /* SOBRE MIM */
    #sobre-mim {
        height: auto;
        .content {
            padding-top: 80px;
        }
        h1 {
            padding-top: 40px;
            text-align: center;
        }
        p {
            text-align: center; 
        }
    }

    #portfolio {
        .content {
    
            img {
                width: 100vw;
                padding: 5px;
                box-shadow: none;
            }
        }
    }
}
     
