@media (max-width: 1390px) {
}

@media (min-width: 1700px) {

}

@media (max-width: 760px) {

    .home-content {
        background-image: url(../images/bg-02.svg);
    }

    #about {
        height: auto;

        .content-about {
            padding-top: 90px;
            flex-direction: column;
            text-align: center;
        }
        
        .text-about {
            padding: 15px;

            h1 {
                padding-top: 40px;
            }
        }
    }

    .portfolio {

        .carrousel {

            .img-desktop {
                display: none;
            }

            .img-mobile {
                display: inline;
            }
            
            img {
                width: 100%;
                padding: 5px;
                box-shadow: none;
            }
        }
    }
}
     
