@media (max-width: 1390px) {
}

@media (min-width: 1700px) {

}

@media (max-width: 800px) {
    
    .home-content {
        h1 {
            font-size: 160px;
        }
    }

    #about {
        height: 100%;
        padding: 20px;

        .content-about {
            padding-top: 90px;
            flex-direction: column;
            text-align: center;
        }
        
        .text-about {

            h1 {
                padding-top: 40px;
            }
        }
    }

    .portfolio {

        .carrousel {

            .img-desktop {
                display: none;
            }

            .img-mobile {
                display: inline;
                width: 350px;
            }
            
            img {
                width: 100%;
                padding: 5px;
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 700px) {

    .home-content {
        h1 {
            font-size: 140px;
        }
    }
}

@media (max-width: 600px) {

    .home-content {
        h1 {
            font-size: 120px;
        }
    }
}

@media (max-width: 500px) {

    .home-content {
        h1 {
            font-size: 100px;
        }
    }
}

@media (max-width: 400px) {
    .home-content {
        h1 {
            font-size: 70px;
        }
    }
}
     
